fastapi
ipython
matplotlib
numba
numpy
pandas
pyarrow==9.0.0
python-multipart
requests
scikit-learn
httpx

# mkdocs
mkdocstrings
mkdocstrings-python
mkdocs-material
mkdocs-static-i18n
mkdocs-minify-plugin